
  <div class="blc_media" style="display:none">
    <div class="container">
      <div class="media">
        <div class="row">
          <div class="col">
            <div class="head text-center">
              <div class="title">In unsere Press</div>
            </div>
            <blockquote>
              “These neat-looking cameras are a cinch to install and can be placed just about anywhere, and they deliver sharp daytime and nighttime video”
            </blockquote>
            <div class="author">John R. Delaney - <a href="#">PCMag.com</a></div>
          </div>
          <div class="col">
            <div class="head text-center">
              <div class="title">Unsere Partners</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>