
  <div class="blc_news" style="display:none">
    <div class="container">
      <div class="news">
        <div class="head text-center">
          <div class="title">Aktuelles</div>
          <div class="link"><a href="#">Alle Beiträge</a></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="item">
              <div class="image"><a href="#"><img src="img/news1.jpg" alt="" class="img-fluid"></a></div>
              <div class="title"><a href="#">Weihnachtsbrief: 25 mal 0 ergibt nächstes Jahr 5000</a></div>
              <div class="desc"><p>Diese Rechnung hebelt alle mathematische Logik aus und stimmt dennoch. Wer wissen will, welcher erschreckende Hintergrund zu diesem Ergebnis führt, liest unseren Weihnachtsbrief 2017...</p></div>
            </div>
          </div>
          <div class="col">
            <div class="item">
              <div class="image"><a href="#"><img src="img/news2.jpg" alt="" class="img-fluid"></a></div>
              <div class="title"><a href="#">Weihnachtsbrief: 25 mal 0 ergibt nächstes Jahr 5000</a></div>
              <div class="desc"><p>Diese Rechnung hebelt alle mathematische Logik aus und stimmt dennoch. Wer wissen will, welcher erschreckende Hintergrund zu diesem Ergebnis führt, liest unseren Weihnachtsbrief 2017...</p></div>
            </div>
          </div>
          <div class="col">
            <div class="item">
              <div class="image"><a href="#"><img src="img/news3.jpg" alt="" class="img-fluid"></a></div>
              <div class="title"><a href="#">Weihnachtsbrief: 25 mal 0 ergibt nächstes Jahr 5000</a></div>
              <div class="desc"><p>Diese Rechnung hebelt alle mathematische Logik aus und stimmt dennoch. Wer wissen will, welcher erschreckende Hintergrund zu diesem Ergebnis führt, liest unseren Weihnachtsbrief 2017...</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>