<div class="blc_service">
    <div class="container">
      <div class="service">
        <div class="row">
          <div class="col-sm-3 col-xs-6 text-center">
            <div class="item">
              <span style="color:#0f6599;">
                <i class="fas fa-life-ring"></i>
                <span class="title">Nothilfe</span>
              </span>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 text-center">
            <div class="item">
              <span style="color:#0f6599;">
                <i class="fas fa-child"></i>
                <span class="title">Kinderschutz</span>
              </span>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 text-center">
            <div class="item">
              <span style="color:#0f6599;">
                <i class="fas fa-building"></i>
                <span class="title">Bildung</span>
              </span>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 text-center">
            <div class="item">
              <span style="color:#0f6599;">
                <i class="fas fa-wheelchair"></i>
                <span class="title">Alltag</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
