

  <div class="blc_feature">
    <div class="container">
      <div class="feature">
        <div class="head text-center">
          <div class="title">Kontakt</div>
          <div class="sub"></div>
        </div>
        <div class="row">
          <div class="col">

            
              <b>AlltagsEngel e.V.</b>
              <br/>
              Elverdinckweg 14<br/>
              44309 Dortmund<br/>
              <br/>
              
              Vorstand: Paul Mizel
              <br/>
              
              Telefon: +49 (0)231/9025950<br/>
              E-Mail: info(at)alltagsengel.org<br/>
              


          </div>
        </div>
      </div>
    </div>
  </div>
