
<% include _serviceline %>

  <div class="blc_details">
    <div class="container">
      <div class="details">
        <h1>Presse</h1>

		<br/><br/>

        <h4>Unsere Ziele für 2018</h4>
          <p>Im Jahr 2018 wollen wir den Alltag derer Menschen verbessern für die ein guter und sicherer Umgang mit der IT großen Fortschritt bedeuten kann. Wir wollen Menschen, denen die Möglichkeit
            fehlt auf tiefgreifendere Erfahrungen im Bereich der Online-Kommunikation und allgemein dem Umgang mit dem Internet zuzugreifen, schulen und einen Teil des von uns in diesem Bereich
            gesammelten Wissens weitergeben, sodass ein nachhaltiger Nutzen in allen Regionen der Welt daraus entstehen kann. <br/>
            Besonders liegt uns die junge Bevölkerung am Herzen, für die sich durch das Internet komplett neue Bildungswege auftun können, die der Grundstein einer sicheren und glücklichen Zukunft sind.
          </p>


		<br/><br/>
		  
        <h4>Unser Logo</h4>
        <p>Als die Engel, die den Alltag der Menschen schöner gestalten möchten, tragen uns unsere Flügel um unseren wunderbaren blauen Planeten und wie das Wasser, das das Leben auf
          diesem erst erblühen lassen hat, wollen wir, dass die Flügel des Alltagsengel e.V. auf der ganzen Welt als ein Symbol für Nachhaltigkeit, Freude und Gleichberechtigung
          gelten.<br/>
          </p>
        <p><img src="img/alltagsengel-logo.svg" alt="" class="img-fluid" style="max-height:250px"></p>
      </div>
    </div>
  </div>
 