
<% include _serviceline %>

<div class="blc_details">
    <div class="container">
        <div class="details">
            <h1>Über uns</h1>

            <p>Zweck des Vereins ist die Unterstützung hilfsbedürftiger Personen in aller Welt.
                Dabei soll er zwischen den Generationen und Kulturen vermitteln und gegenseitiges Verständnis füreinander fördern.</p>

                <p>Der Verein ist selbstlos tätig. Er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.</p>

                <p>Die Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden.</p>

                <p>Es darf keine Person durch Ausgaben, die dem Zweck der Körperschaft fremd sind oder durch unverhältnismäßig hohe Vergütungen begünstigt werden.</p>

                <p>Ausgeschiedene oder ausgeschlossene Mitglieder haben keinen Anspruch auf das Vereinsvermögen.</p>

                <p>Ehrenamtlich tätige Personen haben nur Anspruch auf Ersatz nachgewiesener Auslagen.</p>

        </div>
    </div>
</div>
